# קבצי המצב המקומיים של טרהפורם (מכילים לפעמים סיסמאות ומידע רגיש)
*.tfstate
*.tfstate.backup

# קבצי הגדרות ומשתנים מקומיים (אם יצרת כאלו)
*.tfvars
*.tfvars.json

# תיקיית העבודה הפנימית של טרהפורם (מכילה את הפלאגינים של GCP שהורדו)
.terraform/

# קבצי לוג ונעילות
.terraform.lock.hcl
*.log