# Local .terraform folder
.terraform/
.terraform.lock.hcl

# Production state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Crash logs
crash.log
crash.*.log

# Exclude all .env files (if any)
.env
.envrc

# Ignore CLI configuration files
.terraformrc
terraform.rc
